QWidget#widget_BG
{
    background-image: url(E:/QtProjects/gobang/棋盘2.png);
    background-position:center;
    background-repeat:no-repeat;
}

QLabel#labelWhitePic
{
    background-image: url(E:/QtProjects/gobang/white.png);
    background-position:center;
    background-repeat:no-repeat;
}

QLabel#labelBlackPic
{
    background-image: url(E:/QtProjects/gobang/black.png);
    background-position:center;
    background-repeat:no-repeat;
}
